.t1{
  font-size: 14px;
}

.aviso-home {
  background-color: #ffffff;
  height: 250px;
  box-shadow: 5px 6px 6px grey;
  margin: auto;
}

.aviso-img {
  position: relative;
  width: 150px;
  height: 150px;
}

.aviso-text {
  position: relative;
  font-size: 30px;
}

f1{
  padding-top: 8px;
  padding-left: 4px;
}

f2{
  padding-top: 3px;
}

.img-home{
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
}

.temporario{
  position: absolute;
  left: 65%;
  width: 20px;
  height: 20px;
  font-size: 10px;
}
.card-home {
  display: flex;
  background-color: #ffffff;
  height: 200px;
  margin: 50px auto;
  box-shadow: 5px 6px 6px grey;
}

.ajuste-link{
  padding-top: 4px;
  padding-left: 26px;
}
.selecionar-op{
  color: #000000;
  border: 2px solid black;
  background-color: #F5F5F5;
  font-weight: bold;
  border-radius: 20px;
  width: 100px;
  height: 35px;
  margin: 12px 17px 12px 12px;
}

.op{
  font-weight: bold;
}

.alinhamento-filtro{
  display: flex;
}
.espaço-filtro{
  padding:30px;
}

.filtro-smartphone{
  display: flex;
  background-color: #ffffff;
  height: 50px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  line-height: 46px;
  font-weight: bold;
  font-size: 17px;
  font-family: "Arial Black";
}

.filtro-esquerda{
  width: 50%;
  text-align: center;
  border-right: 1px solid black;
}

.filtro-direita{
  width: 50%;
  text-align: center;
  border-left: 1px solid black;
}

.btn{
  border-radius: 20px;
  font-weight: bold;
}

.btn-outline-primary-custom {
  color: #000000;
  border: 2px solid black;
  background-color: #F5F5F5;
  font-weight: bold;
}

.selecionado {
  color: #fff;
  background-color: #3490dc;
  border-color: #3490dc;
  border: 2px solid black;
}

.selecionado:hover {
  color: #fff;
  background-color: #3490dc;
  border-color: #3490dc;
  border: 2px solid black;
}

.pesquisa-home{
  border-radius: 30px;
  border-color: black;
}

.ajuste-drop{
  left: -30px;
}

.no-border-button {
  border: none;
  padding: 0;
  background: none;
  outline: 0 !important;
}

.contorno {
  background-color: white;
  background-clip: border-box;
  padding: 0.45rem;
  border: 2px solid black;
  border-radius: 0.50rem;
}

.modal-content-white {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid lightgrey;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
  background-color: white;
}

.modal-footer-custom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
  font-size: 0.9em;
}

.modal-body-white {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
  background-color: #fff;
}

.radio-custom {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-custom input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 1px solid black;
  border-radius: 50%;
}

.radio-custom:hover input ~ .checkmark {
  background-color: #ccc;
}

.radio-custom input:checked ~ .checkmark {
  background-color: #ccc;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-custom input:checked ~ .checkmark:after {
  display: block;
}

.radio-custom .checkmark:after {
 	top: 8px;
	left: 8px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: black;
}

.layout-footer {
  margin-top: 50px;
  background-color:rgba(0, 0, 0, 0.753);
  color: white;
}

.white {
  border-color: white;
}

.space {
 border-top: 1px solid #000000;
}

.space2 {
  background-color: black;
  color: white;
}

ff{
  font-family: "Arial Black";
}

fw{
  font-weight: 900;
}

.titulo-modal{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8px;
  text-decoration:underline;
}

.alinhamento{
  position: relative;
  left: 8%;
}

.alinhamento2{
  position: relative;
  left: 10%;
}

.alinhamento-img{
  position: relative;
  margin-left: 14%;
}

.alinhamento-img2{
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.alinhamento-img3{
  position: relative;
  margin-right: 14%;
}

.descricao{
  position: relative;
  left: 26%;
  bottom: 23px;
  resize: none;
}

.grey {
  background-color: #757575;
}

.pisca tr:hover {
  background-color: rgb(221, 221, 221);
}

.Bselect {
  width: 185px;
  height: 28px;
  margin-left: 5px;
}

.text-centro {
  font-family: "Arial Black";
  font-weight: 900;
  margin-left: auto;
  margin-right: auto;
}

.contorno-titulo {
  background-color: #a9a9a9;
  background-clip: border-box;
  padding: 0.60rem;
  border: 2px solid #00000020;
  border-radius: 1.45rem;
  margin-bottom: 30px;
  margin-top: 20px;
  box-shadow: 4px 4px 7px grey;
}

.file-name {
  white-space: nowrap; 
  width: 135px; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.tr-custom{
  background-color:#aaaaaa;
  border-bottom: 4px solid grey;
}

.texture{
  background-image: url("img/texture.png");
}

.fundo{
  background-color: #ececec; 
}

.cor{
  background-color: white;
}

.aviso{
  position: relative;
  margin-left: 30%;
  margin-right: auto;
  padding-top: 8px;
}

.nav-tabs {
  border-bottom: 1px solid #a9a9a9;
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.ativo, .ativo:hover{
  background-color: #3490dc ;
  color: white;
  
}

.fix {
  color: black;
}

.fix:hover{
  background-color: #3490dc;
  color: white;
}

/* PC (Med) res  */
@media screen and (min-width: 1201px) {
  .card-home{
    width: 1050px;
  }
  .aviso-home {
    width: 1050px;
  }
}

 /* PC (Low) OR IPAD (High) Res  */
@media screen and (min-width: 999px) and (max-width: 1201px) {
  .card-home{
    width: 850px;
  }
  .aviso-home {
    width: 850px;
  }
}

/* Style Switch tablet  */
@media screen and (max-width: 999px) {
  .filtro-pc {
    display: none;
  }
  .pesquisa-home{
    width: 250px;
    height: 30px;
  }
}

@media screen and (min-width: 999px) {
  .filtro-tablet {
    display: none;
  }
  .pesquisa-home{
    width: 380px;
    height: 35px;
  }
}

/* IPAD/tablet (Med) Res */
@media screen and (min-width: 767px) and (max-width: 999px) {
  .card-home{
    width: 720px;
  }
  .aviso-home {
    width: 720px;
  }
}

/* IPAD/tablet (Low) Res */
@media screen and (min-width: 555px) and (max-width: 767px) {
  .card-home{
    width: 540px;
  }
  .aviso-home {
    width: 540px;
  }
  .filtro-tablet {
    display: none;
  }
  .espaço-filtro{
    display: none;
  }
  .aviso-home {
    display: block;
    width: 100%;
  }

  .aviso-img {
    position: absolute;
    top: 300px;
    left: 50%;
    width: 120px;
    height: 120px;
    margin-left: -60px ;
  }
  
  .aviso-text {
    position: absolute;
    text-align: center;
    top: 450px;
    left: 0;
    right: 0;
    font-size: 20px;
  }
}

/* Style Switch bigger than smarphone  */
@media screen and (min-width: 767px) { 
  .aviso-img {
    position: absolute;
    top: 370px;
    left: 50%;
    width: 120px;
    height: 120px;
    margin-left: -60px ;
  }
  
  .aviso-text {
    position: absolute;
    text-align: center;
    top: 525px;
    left: 0;
    right: 0;
    font-size: 25px;
  }
}

@media screen and (min-width: 425px) { 
  .selecionar-op{
    width: 130px;
  }
  s3{
    padding-left: 15px;
  }
}

/* Style Switch smarphone  */
@media screen and (max-width: 555px) { 
  .pesquisa-home{
    width: 200px;
    height: 30px;
  }
  .filtro-tablet {
    display: none;
  }
  .espaço-filtro{
    display: none;
  }  
  .card-home{
    width: 100%;
    box-shadow: 4px 5px 5px grey;
  }
  .img-home{
    margin-top: 4px;
    width: 30px;
    height: 30px;
  }
  .linha1{
    position: relative;
    display: flex;
    white-space: nowrap;
    left: 1%;
    margin-top: 2px;
    width: 30px;
    height: 30px;
    font-size: 12px;
  }
  .aviso-home {
    display: block;
    width: 100%;
  }

  .aviso-img {
    position: absolute;
    top: 300px;
    left: 50%;
    width: 120px;
    height: 120px;
    margin-left: -60px ;
  }
  
  .aviso-text {
    position: absolute;
    text-align: center;
    top: 450px;
    left: 0;
    right: 0;
    font-size: 20px;
  }
}

@media screen and (min-width: 767px) { 
  .filtro-smartphone{
    display: none;
  }
}