.img-ava{
  width:28px; 
  height:25px;
}
.img-like{
  width:29px; 
}
.destaque-home{
  position: absolute;
  border: 1px solid blue;
  background-color: blue;
  width: 30px;
  height: 30px;
}
.situation-home{
  position: absolute;
  display: flex; 
}
.result-situation-home{
  margin-top:8px;
  margin-left:2px;
}
.data-home{
  position: absolute;
}
.img-home{
  margin-left: 2px;
  margin-top: 3px;
  width: 30px;
  height: 30px;
}
.usu-home{
  position: absolute;
  display: flex;
  white-space: nowrap;
  margin-top: 4px;
}
.like-home{
  position: absolute;
}
.result-like-home{
  margin-top:8px;
  margin-left:2px;
}
.text-desc{
  position: absolute;
  resize: none;
  border: none;
  overflow: hidden;
}
.text-desc2{
  position: absolute;
  resize: none;
  border: none;
  overflow: hidden;
}
.desc-home{
  position: absolute;
  display: flex;
}
.title-home{
  position: absolute;
  display: flex;
  white-space: nowrap;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.title-home2{
  position: absolute;
  display: flex;
  white-space: nowrap;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.option-home{
  position: absolute;
  padding-top: 1.5px;
}

.t1{
  font-size: 14px;
}

.img-option{
  width: 30px;
  height: 30px;
}

.aviso-home {
  background-color: #ffffff;
  height: 250px;
  box-shadow: 5px 6px 6px grey;
  margin: auto;
}

.aviso-img {
  position: relative;
  width: 150px;
  height: 150px;
}

.aviso-text {
  position: relative;
  font-size: 30px;
}

f1{
  padding-top: 8px;
  padding-left: 4px;
}

f2{
  padding-top: 3px;
}

.img-home{
  margin-top: 5px;
  margin-left: 5px;
  width: 35px;
  height: 35px;
  border: 1px solid black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.temporario{
  position: absolute;
  left: 65%;
  width: 20px;
  height: 20px;
  font-size: 10px;
}
.card-home {
  display: flex;
  background-color: #ffffff;
  height: 200px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 6px 6px grey;
}

.ajuste-link{
  padding-top: 4px;
  padding-left: 26px;
}
.selecionar-op{
  color: #000000;
  border: 2px solid black;
  background-color: #F5F5F5;
  font-weight: bold;
  border-radius: 20px;
  width: 100px;
  height: 35px;
  margin: 12px 17px 12px 12px;
}

.op{
  font-weight: bold;
}

.alinhamento-filtro{
  display: flex;
}
.espaço-filtro{
  padding:30px;
}

.filtro-smartphone{
  display: flex;
  background-color: #ffffff;
  height: 50px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  line-height: 46px;
  font-weight: bold;
  font-size: 17px;
  font-family: "Arial Black";
}

.filtro-esquerda{
  width: 50%;
  text-align: center;
  border-right: 1px solid black;
  box-shadow: 1px 3px 5px grey;
}

.filtro-direita{
  width: 50%;
  text-align: center;
  border-left: 1px solid black;
  box-shadow: 1px 3px 5px grey;
}

.btn{
  border-radius: 20px;
  font-weight: bold;
}

.btn-outline-primary-custom {
  color: #000000;
  border: 2px solid black;
  background-color: #F5F5F5;
  font-weight: bold;
}

.selecionado {
  color: #fff;
  background-color: #3490dc;
  border-color: #3490dc;
  border: 2px solid black;
}

.selecionado:hover {
  color: #fff;
  background-color: #3490dc;
  border-color: #3490dc;
  border: 2px solid black;
}

.pesquisa-home{
  border-radius: 30px;
  border-color: black;
  box-shadow: 2px 2px 6px grey;
}

.ajuste-drop{
  left: -35px;
}
.ajuste-drop3{
  left: -50px;
  margin-top: 5px;
  margin-right: 20px;
}
.ajuste-drop4{
  left: -50px;
  margin-top: 5px;
  margin-right: 15px;
}

.no-border-button {
  border: none;
  padding: 0;
  background: none;
  outline: 0 !important;
}

.contorno {
  background-color: white;
  background-clip: border-box;
  padding: 0.45rem;
  border: 2px solid black;
  border-radius: 0.50rem;
  box-shadow: 3px 3px 6px grey;
}

.modal-content-white {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid lightgrey;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
  background-color: white;
}

.modal-footer-custom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
  font-size: 0.9em;
}

.modal-body-white {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
  background-color: #fff;
}

.radio-custom {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-custom input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 1px solid black;
  border-radius: 50%;
}

.radio-custom:hover input ~ .checkmark {
  background-color: #ccc;
}

.radio-custom input:checked ~ .checkmark {
  background-color: #ccc;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-custom input:checked ~ .checkmark:after {
  display: block;
}

.radio-custom .checkmark:after {
 	top: 8px;
	left: 8px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: black;
}

.layout-footer {
  margin-top: 50px;
  background-color:rgba(0, 0, 0, 0.753);
  color: white;
}

.white {
  border-color: white;
}

.space {
 border-top: 1px solid #000000;
}

.space2 {
  background-color: black;
  color: white;
}

ff{
  font-family: "Arial Black";
}

fw{
  font-weight: 900;
}

.titulo-modal{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8px;
  text-decoration:underline;
}

.alinhamento{
  position: relative;
  left: 8%;
}

.alinhamento2{
  position: relative;
  left: 10%;
}

.alinhamento-img{
  position: relative;
  margin-left: 14%;
}

.alinhamento-img2{
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.alinhamento-img3{
  position: relative;
  margin-right: 14%;
}

.descricao{
  position: relative;
  left: 26%;
  bottom: 23px;
  resize: none;
}

.grey {
  background-color: #757575;
}

.pisca tr:hover {
  background-color: rgb(221, 221, 221);
}

.Bselect {
  width: 185px;
  height: 28px;
  margin-left: 5px;
}

.text-centro {
  font-family: "Arial Black";
  font-weight: 900;
  margin-left: auto;
  margin-right: auto;
}

.contorno-titulo {
  background-color: #a9a9a9;
  background-clip: border-box;
  padding: 0.60rem;
  border: 2px solid #00000020;
  border-radius: 1.45rem;
  margin-bottom: 30px;
  margin-top: 20px;
  box-shadow: 4px 4px 7px grey;
}

.file-name {
  white-space: nowrap; 
  width: 135px; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.tr-custom{
  background-color:#aaaaaa;
  border-bottom: 4px solid grey;
}

.texture{
  background-image: url("img/texture.png");
}

.fundo{
  background-color: #ececec; 
}

.cor{
  background-color: white;
}

.aviso{
  position: relative;
  margin-left: 30%;
  margin-right: auto;
  padding-top: 8px;
}

.nav-tabs {
  border-bottom: 1px solid #a9a9a9;
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.ativo, .ativo:hover{
  background-color: #3490dc ;
  color: white;
  
}

.fix {
  color: black;
}

.fix:hover{
  background-color: #3490dc;
  color: white;
}

/* PC (Med) res  */
@media screen and (min-width: 1201px) {
  .card-home{
    width: 1050px;
  }
  .aviso-home {
    width: 1050px;
  }
  .ajuste-drop4{
    left: -50px;
    margin-top: 5px;
    margin-right: 35px;
  }
  /*---*/
  .destaque-home{
  margin-left:865px;
  margin-Top: 58px;
  width: auto;
  max-width: 160px;
  height: auto;
  max-height: 100px;
  }
  .visualizar-home{
  margin-left: 85px;
  margin-Top: 173px;
  color: blue;
  }
  .data-home{
  margin-left: 965px;
  margin-Top: 178px;
  }
  .like-home{
  margin-left: 26px;
  margin-Top: 140px;
  }
  .result-like-home{
  position: absolute;
  margin-top:28px;
  margin-left:10px;
  }
  .situation-home{
  margin-left: 0.8em;
  margin-Top: 80px;
  }
  .result-situation-home{
  position: absolute;
  margin-top:31px;
  margin-left:3.5px;
  }
  .img-ava{
  width:30px; 
  height: 33px;
  }
  .img-like{
  width:32px; 
  }
  .text-desc{
  margin-top: 5px;
  width: 760px;
  height: 65px;
  }
  .text-desc2{
  margin-top: 8px;
  width: 900px;
  height: 65px;
  }
  .desc-home{
  margin-top: 85px;
  margin-left: 65px;
  }
  .title-home{
  margin-top: 47px;
  margin-left: 55px;
  font-size: 23px;
  max-width: 740px;
  }
  .title-home2{
  margin-top: 47px;
  margin-left: 55px;
  font-size: 23px;
  max-width: 860px;
  }
  .option-home{
  padding-top: 1.5px;
  margin-left: 1020px;
  }
  .usu-home{
  width: 30px;
  height: 30px;
  font-size: 13px;
  }
  .img-home{
  margin-left: 9px;
  margin-top: 3px;
  width: 30px;
  height: 30px;
  }
}

 /* PC (Low) Res  */
@media screen and (min-width: 999px) and (max-width: 1201px) {
  .card-home{
    width: 850px;
  }
  .aviso-home {
    width: 850px;
  }
  .ajuste-drop4{
    left: -50px;
    margin-top: 5px;
    margin-right: 35px;
  }
  /*---*/
  .destaque-home{
    margin-left:690px;
    margin-Top: 58px;
    width: auto;
    max-width: 140px;
    height: auto;
    max-height: 100px;
  }
  .visualizar-home{
    margin-left: 85px;
    margin-Top: 173px;
    color: blue;
  }
  .data-home{
    margin-left: 765px;
    margin-Top: 178px;
  }
  .like-home{
    margin-left: 26px;
    margin-Top: 140px;
  }
  .result-like-home{
    position: absolute;
    margin-top:28px;
    margin-left:10px;
  }
  .situation-home{
    margin-left: 0.8em;
    margin-Top: 80px;
  }
  .result-situation-home{
    position: absolute;
    margin-top:31px;
    margin-left:3.5px;
  }
  .img-ava{
    width:30px; 
    height: 33px;
  }
  .img-like{
    width:32px; 
  }
  .text-desc{
    margin-top: 5px;
    width: 620px;
    height: 65px;
  }
  .text-desc2{
    width: 750px;
    height: 65px;
  }
  .desc-home{
    margin-top: 85px;
    margin-left: 65px;
  }
  .title-home{
    margin-top: 47px;
    margin-left: 55px;
    font-size: 23px;
    max-width: 590px;
  }
  .title-home2{
    margin-top: 47px;
    margin-left: 55px;
    font-size: 23px;
    max-width: 700px;
  }
  .option-home{
    padding-top: 1.5px;
    margin-left: 820px;
  }
  .usu-home{
    width: 30px;
    height: 30px;
    font-size: 13px;
  }
  .img-home{
    margin-left: 9px;
    margin-top: 3px;
    width: 30px;
    height: 30px;
  }
}

/* Style Switch tablet  */
@media screen and (max-width: 999px) {
  .filtro-pc {
    display: none;
  }
  .pesquisa-home{
    width: 250px;
    height: 30px;
  }
}

@media screen and (min-width: 999px) {
  .filtro-tablet {
    display: none;
  }
  .pesquisa-home{
    width: 380px;
    height: 35px;
  }
}

/* IPAD/tablet (Med-high) Res */
@media screen and (min-width: 767px) and (max-width: 999px) {
  .card-home{
    width: 720px;
  }
  .aviso-home {
    width: 720px;
  }
  .ajuste-drop4{
    left: -50px;
    margin-top: 5px;
    margin-right: 75px;
  }
  /*---*/
  .destaque-home{
    margin-left:580px;
    margin-Top: 58px;
    width: auto;
    max-width: 120px;
    height: auto;
    max-height: 100px;
  }
  .visualizar-home{
    margin-left: 85px;
    margin-Top: 173px;
    color: blue;
  }
  .data-home{
    margin-left: 635px;
    margin-Top: 178px;
  }
  .like-home{
    margin-left: 26px;
    margin-Top: 140px;
  }
  .result-like-home{
    position: absolute;
    margin-top:28px;
    margin-left:10px;
  }
  .situation-home{
    margin-left: 0.8em;
    margin-Top: 80px;
  }
  .result-situation-home{
    position: absolute;
    margin-top:31px;
    margin-left:3.5px;
  }
  .img-ava{
    width:30px; 
    height: 33px;
  }
  .img-like{
    width:32px; 
  }
  .text-desc{
    margin-top: 5px;
    width: 500px;
    height: 65px;
  }
  .text-desc2{
    width: 600px;
    height: 65px;
  }
  .desc-home{
    margin-top: 85px;
    margin-left: 65px;
  }
  .title-home{
    margin-top: 47px;
    margin-left: 55px;
    font-size: 23px;
    max-width: 480px;
  }
  .title-home2{
    margin-top: 47px;
    margin-left: 55px;
    font-size: 23px;
    max-width: 580px;
  }
  .option-home{
    padding-top: 1.5px;
    margin-left: 690px;
  }
  .usu-home{
    width: 30px;
    height: 30px;
    font-size: 13px;
  }
  .img-home{
    margin-left: 9px;
    margin-top: 3px;
    width: 30px;
    height: 30px;
  }
}

/* IPAD/tablet (Low-med) Res */
@media screen and (min-width: 555px) and (max-width: 767px) {
  .card-home{
    width: 540px;
  }
  .aviso-home {
    width: 540px;
  }
  .filtro-tablet {
    display: none;
  }
  .espaço-filtro{
    display: none;
  }
  .aviso-home {
    display: block;
    width: 100%;
  }

  .aviso-img {
    top: 40px;
    left: 50%;
    width: 120px;
    height: 120px;
    margin-left: -60px ;
  }
  
  .aviso-text {
    text-align: center;
    top: 60px;
    left: 0;
    right: 0;
    font-size: 20px;
  }
  .ajuste-drop4{
    left: -50px;
    margin-top: 5px;
    margin-right: 75px;
  }
  /*---*/
  .destaque-home{
    margin-left:400px;
    margin-Top: 58px;
    width: auto;
    max-width: 120px;
    height: auto;
    max-height: 100px;
  }
  .visualizar-home{
    margin-left: 420px;
    margin-Top: 178px;
    font-size: 13px;
    color: blue;
  }
  .data-home{
    margin-left: 14px;
    margin-Top: 178px;
    font-size: 13px;
  }
  .like-home{
    margin-left: 175px;
    margin-Top: 164px;
    font-size: 13px;
  }
  .situation-home{
    margin-left: 270px;
    margin-Top: 172px;
    font-size: 13px;
  }
  .text-desc{
    width: 380px;
    height: 65px;
  }
  .text-desc2{
    width: 490px;
    height: 65px;
  }
  .desc-home{
    margin-top: 85px;
    margin-left: 8px;
    font-size: 13px;
  }
  .title-home{
    margin-top: 48px;
    margin-left: 20px;
    font-size: 21px;
    max-width: 340px;
  }
  .title-home2{
    margin-top: 48px;
    margin-left: 20px;
    font-size: 21px;
    max-width: 440px;
  }
  .option-home{
    padding-top: 1.5px;
    margin-left: 510px;
  }
  .usu-home{
    width: 30px;
    height: 30px;
    font-size: 12px;
  }
  .img-home{
    margin-left: 7px;
    margin-top: 3px;
    width: 30px;
    height: 30px;
  }
}

/* smartphone/tablet */
@media screen and (min-width: 425px) and (max-width: 555px) {
  .card-home{
    width: 410px;
  }
  .aviso-home {
    width: 410px;
  }
  .filtro-tablet {
    display: none;
  }
  .espaço-filtro{
    display: none;
  }
  .aviso-home {
    display: block;
    width: 100%;
  }
  .aviso-img {
    top: 40px;
    left: 50%;
    width: 120px;
    height: 120px;
    margin-left: -60px ;
  }
  .aviso-text {
    text-align: center;
    top: 60px;
    left: 0;
    right: 0;
    font-size: 20px;
  }
  .ajuste-drop4{
    left: -50px;
    margin-top: 5px;
    margin-right: 75px;
  }
  /*---*/
  .destaque-home{
    margin-left:286px;
    margin-Top: 60px;
    width: auto;
    max-width: 100px;
    height: auto;
    max-height: 100px;
  }
  .visualizar-home{
    margin-left: 320px;
    margin-Top: 178px;
    font-size: 13px;
    color: blue;
  }
  .data-home{
    margin-left: 14px;
    margin-Top: 178px;
    font-size: 13px;
  }
  .like-home{
    margin-left: 150px;
    margin-Top: 164px;
    font-size: 13px;
  }
  .situation-home{
    margin-left: 218px;
    margin-Top: 172px;
    font-size: 13px;
  }
  .text-desc{
    width: 275px;
    height: 65px;
  }
  .text-desc2{
    width: 370px;
    height: 65px;
  }
  .desc-home{
    margin-top: 85px;
    margin-left: 8px;
    font-size: 13px;
  }
  .title-home{
    margin-top: 48px;
    margin-left: 20px;
    font-size: 21px;
    max-width: 240px;
  }
  .title-home2{
    margin-top: 48px;
    margin-left: 20px;
    font-size: 21px;
    max-width: 330px;
  }
  .option-home{
    padding-top: 1.5px;
    margin-left: 380px;
  }
  .usu-home{
    width: 30px;
    height: 30px;
    font-size: 12px;
  }
  .img-home{
    margin-left: 7px;
    margin-top: 3px;
    width: 30px;
    height: 30px;
  }
}

/* Style Switch bigger than smarphone  */
@media screen and (min-width: 767px) { 
  .aviso-img {
    top: 40px;
    left: 50%;
    width: 120px;
    height: 120px;
    margin-left: -60px ;
  }
  
  .aviso-text {
    text-align: center;
    top: 60px;
    left: 0;
    right: 0;
    font-size: 25px;
  }
}

@media screen and (min-width: 767px) { 
  .filtro-smartphone{
    display: none;
  }
}

/* Style Switch smarphone  */
@media screen and (max-width: 425px) {
  .destaque-home{
    margin-left:200px;
    margin-Top: 60px;
    width: auto;
    max-width: 100px;
    height: auto;
    max-height: 100px;
  }
  .visualizar-home{
    margin-left:77%;
    margin-Top: 178px;
    font-size: 13px;
    color: blue;
  }
  .situation-home{
    margin-left:53%;
    margin-Top: 172px;
    font-size: 13px;
  }
  .data-home{
    margin-left:14px;
    margin-Top: 178px;
    font-size: 13px;
  }
  .like-home{
    margin-left:37%;
    margin-Top: 164px;
    font-size: 13px;
  }
  .text-desc{
    width: 190px;
    height: 65px;
  }
  .text-desc2{
    width: 300px;
    height: 65px;
  }
  .desc-home{
    margin-top: 85px;
    margin-left: 5px;
    font-size: 13px;
  }
  .title-home{
    margin-top: 48px;
    margin-left: 20px;
    font-size: 21px;
    max-width: 160px;
  }
  .title-home2{
    margin-top: 48px;
    margin-left: 20px;
    font-size: 21px;
    max-width: 270px;
  }
  .option-home{
    padding-top: 1.5px;
    margin-left: 90%;
  }
  .ajuste-drop2{
    left: -300px;
  }
  .pesquisa-home{
    width: 200px;
    height: 30px;
  }
  .filtro-tablet {
    display: none;
  }
  .espaço-filtro{
    display: none;
  }  
  .card-home{
    width: 100%;
    overflow-x: hidden;
    box-shadow: 4px 5px 5px grey;
  }
  .img-home{
    margin-left: 2px;
    margin-top: 3px;
    width: 30px;
    height: 30px;
  }
  .usu-home{
    left: 1%;
    width: 30px;
    height: 30px;
    font-size: 12px;
  }
  .aviso-home {
    display: block;
    width: 100%;
  }

  .aviso-img {
    top: 35px;
    left: 50%;
    width: 120px;
    height: 120px;
    margin-left: -60px ;
  }
  
  .aviso-text {
    text-align: center;
    top: 65px;
    left: 0;
    right: 0;
    font-size: 20px;
  }
}

@media screen and (min-width: 425px) { 
  .selecionar-op{
    width: 130px;
  }
  s3{
    padding-left: 15px;
  }
}

@media screen and (min-width: 330px) and (max-width: 375px) {
  .title-home{
    max-width: 180px;
  }
  .title-home2{
    max-width: 300px;
  }
  .text-desc{
    width: 220px;
  }
  .text-desc2{
    width: 325px;
  }
  .destaque-home{
    margin-left:226px;
  }
}
@media screen and (min-width: 376px) and (max-width: 425px) {
  .title-home{
    max-width: 200px;
  }
  .title-home2{
    max-width: 360px;
  }
  .text-desc{
    width: 255px;
  }
  .text-desc2{
    width: 370px;
  }
  .destaque-home{
    margin-left:270px;
  }
}