.no-border-button {
  border: none;
  padding: 0;
  background: none;
}

.modal-content-white {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #000000;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

.modal-footer-custom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
  font-size: 0.9em;
}

.modal-body-white {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
  background-color: #fff;
}

.contorno {
  background-color: #a9a9a9;
  background-clip: border-box;
  padding: 0.45rem;
  border: 2px solid #00000020;
  border-radius: 0.25rem;
  margin: 22px 22px 10px auto;
}

.btn-outline-primary-custom {
  color: #000000;
  border-color: #000000;
  background-color: #ffffff;
}

.card-home {
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #a9a9a9;
  border-radius: 0.25rem;
  height: 200px;
  border: 2px solid #646464;
  margin: 60px 22px 30px auto;
}

.title-home {
  position: relative;
  top:5%;
  left: 1%;
}

.link-home {
  position: relative;
  top: 48%;
  left: 1%;
}

.desc-home {
  position: relative;
  opacity: 0.6;
  top:20%;
  left: 1%;
}

.like-home {
  position: absolute;
  top: 8%;
  left: 93%;
}

.situation-home {
  position: absolute;
  top:70%;
  right: 3%;
}

.data-home {
  position: absolute;
  top: 83%;
  right: 1%;
}