.modal-open {
  overflow: hidden;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}

.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}

@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}

.modal.show .modal-dialog {
  transform: none;
}

.modal.modal-static .modal-dialog {
  transform: scale(1.02);
}

.modal-dialog-scrollable {
  display: flex;
  max-height: calc(100% - 1rem);
}

.modal-dialog-scrollable .modal-content {
  max-height: calc(100vh - 1rem);
  overflow: hidden;
}

.modal-dialog-scrollable .modal-header,
.modal-dialog-scrollable .modal-footer {
  flex-shrink: 0;
}

.modal-dialog-scrollable .modal-body {
  overflow-y: auto;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - 1rem);
}

.modal-dialog-centered::before {
  display: block;
  height: calc(100vh - 1rem);
  content: "";
}

.modal-dialog-centered.modal-dialog-scrollable {
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.modal-dialog-centered.modal-dialog-scrollable .modal-content {
  max-height: none;
}

.modal-dialog-centered.modal-dialog-scrollable::before {
  content: none;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
  width: 100%;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: 0.5;
}

.modal-header {
  text-align: left;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
  background-color: black;
}

.modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.6;
  text-align: left;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
  background-color: darkgray;
}

.modal-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
  font-size: 0.9em;
}

.modal-footer > * {
  margin: 0.25rem;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }

  .modal-dialog-scrollable {
    max-height: calc(100% - 3.5rem);
  }

  .modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 3.5rem);
  }

  .modal-dialog-centered {
    min-height: calc(100% - 3.5rem);
  }

  .modal-dialog-centered::before {
    height: calc(100vh - 3.5rem);
  }

  .modal-sm {
    max-width: 300px;
  }
}

@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    max-width: 800px;
  }
}

@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1440px;
  }
}

.link-home {
  display: block;

}

#area_principal {
  margin-top: 0px;
}

#area-dados {
  position: relative;
  width: 63%;
  background-color: darkgray;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 5px;
  display: block;
  margin-bottom: 30px;
  box-shadow: 10px 10px 10px #999;
}

.fa {
  font-size: 22px;
  margin: 0px;
}
.fa-thumbs-o-up:hover{
  background-color: rgb(197, 197, 197);
  border-radius: 30px;
}

.area_ideias {
  position: relative;
  display: block;
  width: 80%;
  float: right;
  
}

.margin {
  margin-left: 15px;
}

#conteudo-dados {
  text-align: left;
  padding-top: 20px;
}

#h1conta {
  position: relative;
  width: 200px;
  background-color: darkgray;
  text-align: center;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 3px 3px 3px #999;
}

#table_conta {
  width: 80%;
  height: 200px;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #8d9094;
}


thead {
  background-color: rgb(221, 221, 221);
}

th, td {
  font-size: 1.1em;
  padding: 10px;
}

caption {
  font-size: 1.3em;
  caption-side: top;
  text-align: center;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid black;
  background-color: black;
  color: white;
}

#menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

input {
  width: 220px;
  margin-right: 5px;
}
button {
  margin: 5px;
}

td div {
  text-align: center;
}

.card-footer {
  background-color: rgb(221, 221, 221);
  width: 80%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border: 1px solid #525558;
  text-align: center;
  display: block;
}

.both {
  font-size: 1.3em;
  caption-side: bottom;
  text-align: center;
  width: 100%;
  border: 1px solid black;
  background-color: black;
  color: white;
}

link {
  float: left;
  vertical-align: center;
  border: 1px solid red;
}

ul {
  justify-content: center;
  vertical-align: auto;
}

#contagem-ideias {
  display: inline-block;
  float: right;
}

.popup_sub {
  display: inline-block;
  font-size: 1.3em;
  margin: 8px 0px 0px 0px;
  width: 90px;
  text-align: right;
}

.popup_cont {
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  width: 65%;
  background-color: white;
  text-align: center;
}

.popup-title {
  margin: 10px;
}

.popup_desc {
  width: 100%;
  height: 205px;
}

#popup_cont_desc {
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  width: 75%;
  background-color: white;
  height: 200px;
  padding: 5px;
  margin-left: 5px;
  resize: none;
}

p {
  word-wrap: break-word;
}

.popup_img {
  margin-top: 10px;
  width: 100%;
}

.popup_imgs {
  width: 120px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0px;
}

@media (max-width: 540px) {
  .popup_imgs {
    width: 100px;
  }
}

.popup_aval {
  margin-top: 10px;
}

.popup_avali {
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  width: 25%;
  background-color: white;
  text-align: center;
  padding: 2px;
}

.popup_coment_aval {
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0px 5px 0px 5px;
  width: 100%;
  background-color: white;
  padding: 5px;
}

.popup_coment_aval:hover {
  background-color: #e9e9e9;
}

.popup_coment_enc {
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0px 5px 10px 28px;
  width: 95%;
  background-color: white;
  padding: 5px;
}

.popup_coment_enc:hover {
  background-color: #e9e9e9;
}

.popup_avaliador {
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0px 5px 10px 92px;
  width: 80%;
  background-color: white;
  padding: 5px;
}

.popup_coment {
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  width: 40%;
  background-color: white;
  text-align: center;
  margin-left: 95px;
}

.bold {
  font-weight: bold;
} 

.underline {
  text-decoration: underline;
  float: right;
}


.btn-popup {
  display: inline-block;
  width: 60%;
  height: calc(1.6em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #000000;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.select  {
  width: 240px;
  height: 34px;
  overflow: hidden;
  background: url(new_arrow.png) no-repeat right #ddd;
  border: 1px solid #000000;

}

.subdados {
  display: inline-block;
  width: 80px;
  text-align: right;
}

/* Esconde o input */
input[type='file'] {
  display: none;
}

/* Aparência que terá o seletor de arquivo */
.get-file {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  float: center;
  background-color: #3498db;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  padding: 6px 20px;
  width: 150px;

}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 2px inset #B3FF00;
  overflow: hidden;
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.img:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.block {
  display: block;
}

.img-dados {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px inset #B3FF00;
}

.img-dados-coment {
  width: 20x;
  height: 35px;
  border-radius: 50%;
  border: 1px solid black;
  margin: 0px 0px 4px 3px;
}

.password {
  display: inline-block;
  margin-left: 85px;
}

.configuracoes {
  position: relative;
  width: 10%;
  float: right;
}

.preenche {
  position: static;
  width: 80%;

}

.right {
  position: fixed;
  width: 10%;
  right: 55px;
}

.popup-like {
  position: relative;
  display: inline-block;
  width: 20%;
  float: left;
  text-align: left;
  top: 4px;
  margin-right: 20%;
  margin-left: 0px;
}

.num-like {
  position: relative;
  display: inline-block;
  width: 40%;
  top: 3px;
}

.data-post {
  position: relative;
  text-align: right;
  float: left;
}

.likes_coment {
  width: 50px;
  float: right;
  margin: 0;
  height: 28px;
}

.likes_coment:hover {
  color: #3498db;
  height: 28px;
}

.conteudo-coment {
  position: relative;
  display: inline;
  margin: 2px 2px;
  padding: 5px;
  text-align: left;
}

.data-coment {
  position: relative;
  top: 5px;
  float: right !important;
  margin: 0px;
}

.user {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  width: 170px;
  background-color: transparent;
  border: 0px;
  text-align: left;
  margin: 0px;
}

.user:hover{
  text-decoration: underline;  

}

#perfil {
  display: inline-block;
  margin: 0px;
}

.footer-coment {
  width: 100%;
}


.mostrar { 
  position: relative;
  display: inline-block;
  margin: 5px;
  top: 5px;
  float: left;
}

.exibir {
  position: relative;
  display: inline-block;
  margin: 5px;
  top: 5px;
  float: left;
}

.exibir:hover {
  cursor: pointer;
  text-decoration: underline;
}

.curtir {
  position: relative;
  display: inline-block;
  margin: 5px;
  top: 5px;
  float: left;
  cursor: pointer;
}

.subcurtir {
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin: 5px;
  top: 5px;
  float: left;
  cursor: pointer;
}

.mostrar:hover {
  cursor: pointer;
  text-decoration: underline;
}

#comentarios {
  display: block;
  width: 100%;
  display: none;
}

.comentario {
  margin: 0px 0px 0px 5px;
  width: 100%;
  padding: 10px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 5px #999;
  resize: none;  
  border: 1px solid black;
}

.respondendo {
  margin: 0px 0px;
  display: inline-block;
}

.link {
  color: #5ba9dd;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: inline-block;
  width: 150px;
  background-color: transparent;
  border: 0px;
  text-align: left;
  margin: 0px;
}

.abreviar {

}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button_coment {
  left: 15px;
  margin: 10px;
  position: relative;
  float: right;
  width: 100px;
}

.transparente {
  background-color: transparent;
  border: 1px solid black;
}

.transparente:hover {
  background-color: #e9e9e9;
}

.transparente:active {
  background-color: rgb(221, 221, 221);
}

#edit_desc {
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  width: 78%;
  background-color: white;
  height: 100px;
  padding: 5px;
  margin-left: 5px;
  resize: none;
}

.tim {
  border: 0;
  padding: 0;
  display: inline;
  background: none;
  text-decoration: underline;
  color: blue;
}

.tim:hover {
  cursor: pointer;
}

.dropdown1 {
  position: relative;
  display: inline-block;
  float: right;
}

.linha {
  height: 20px;
  border-left: 2px solid black;
  margin-left: 35px;
}

.likes {
  position: relative;
  top: 10px;
  margin: 0px;
  display: inline-block;
}

.dados-pessoais {
  position: relative;
  width: 47%;
  display: inline-block;
  margin: 10px 0% 10px 2%;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  padding-left: 3px;
}

@media (max-width: 800px) {
  .dados-pessoais {
    width: 95%;

  }
  #area-dados{
    width: 85%;
  }
}

@media (min-width: 801px) and (max-width:1300px) {
  .dados-pessoais {
    width: 95%;
  }
  #area-dados{
    width: 70%;
  }
}

@media (max-width: 600px) {
  .card-footer {
    width: 95%;
  }
}

.notas {
  width: 50%;
  display: inline-block;
}

.nota {
  width: 50px;
  border: 1px solid black;
  border-radius: 5px;
  height: 50%;
  padding: 6px;
}

.sub {
  width: 80%;
  text-align: right;
  font-weight: bold;
  font-size: 1.3em;
}

.sub_comentario {
  width: 15%;
  text-align: right;
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 0px;
}

.sub_media {
  width: 15%;
  text-align: right;
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 0px;
}

.media {
  float: right;
  width: 50%;
  display: inline-block;
  height: 150px;
}

#media {
  width: 60%;
  text-align: center;
}

.center_media {
  margin-top: 60px;
  
}

.coment_avaliador {
  margin: 10px;
}

.comentarios {
  width: 80%;
  padding: 10px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 5px 5px 5px #999;
  resize: none;  
}

@media (max-width: 1000px) {
  .notas {
    width: 58%;
  }
  .sub {
    width: 50%;
  }
  .media {
    width: 42%;
  }
  .sub_media {
    display: block;
    width: 30%;
  }
  #media {
    width: 100%;
  }
  .sub_comentario {
    display: block;
  }
  .comentarios {
    width: 100%;
  }
}